KLMessageServer/OpenLib/WebServiceServer/KLMessageWebService/test/Test/Web References/KLMessageWebService/KLMessageWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://KLMessage.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://KLMessage.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified">
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageByRecipientsStringSoapIn">
    <wsdl:part name="RecipientsSource" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageByRecipientsStringSoapOut">
    <wsdl:part name="SendMessageByRecipientsStringResult" type="s:int" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="RecipientsSource" type="ArrayOfString" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="SendMessageResult" type="s:int" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithMessageIDSoapIn">
    <wsdl:part name="UserMessageID" type="s:string" />
    <wsdl:part name="RecipientsSource" type="ArrayOfString" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithMessageIDSoapOut">
    <wsdl:part name="SendMessageWithMessageIDResult" type="s:int" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithUserInfoSoapIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="RecipientsSource" type="ArrayOfString" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithUserInfoSoapOut">
    <wsdl:part name="SendMessageWithUserInfoResult" type="s:int" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithUserAndMessageIDSoapIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="UserMessageID" type="s:string" />
    <wsdl:part name="RecipientsSource" type="ArrayOfString" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageWithUserAndMessageIDSoapOut">
    <wsdl:part name="SendMessageWithUserAndMessageIDResult" type="s:int" />
  </wsdl:message>
  <wsdl:message name="SendMessageExSoapIn">
    <wsdl:part name="UserMessageID" type="s:string" />
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="RecipientsSource" type="ArrayOfString" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="CallbackURL" type="s:string" />
    <wsdl:part name="ThreadMode" type="s:int" />
    <wsdl:part name="MaxBatchSize" type="s:int" />
    <wsdl:part name="InvockPersecond" type="s:double" />
    <wsdl:part name="QueueSize" type="s:long" />
    <wsdl:part name="Simulation" type="s:boolean" />
    <wsdl:part name="RecordLog" type="s:boolean" />
    <wsdl:part name="AddTag" type="s:boolean" />
  </wsdl:message>
  <wsdl:message name="SendMessageExSoapOut">
    <wsdl:part name="SendMessageExResult" type="s:int" />
  </wsdl:message>
  <wsdl:portType name="KLMessageWebServiceSoap">
    <wsdl:operation name="SendMessageByRecipientsString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">使用默认配置,传入短信内容和接收人列表(分号分隔)字符串发送短信</wsdl:documentation>
      <wsdl:input message="tns:SendMessageByRecipientsStringSoapIn" />
      <wsdl:output message="tns:SendMessageByRecipientsStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">使用默认配置,传入短信内容和接收人数组发送短信 </wsdl:documentation>
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithMessageID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">同上SendMessage,但是可以带入自己的消息ID</wsdl:documentation>
      <wsdl:input message="tns:SendMessageWithMessageIDSoapIn" />
      <wsdl:output message="tns:SendMessageWithMessageIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">如果有多个用户 这个接口可以指定其中一个用户发送短信</wsdl:documentation>
      <wsdl:input message="tns:SendMessageWithUserInfoSoapIn" />
      <wsdl:output message="tns:SendMessageWithUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithUserAndMessageID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">可以同时指定一个用户并带入自己的消息ID</wsdl:documentation>
      <wsdl:input message="tns:SendMessageWithUserAndMessageIDSoapIn" />
      <wsdl:output message="tns:SendMessageWithUserAndMessageIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageEx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">这个是最完整的调用方式,包含所有的参数</wsdl:documentation>
      <wsdl:input message="tns:SendMessageExSoapIn" />
      <wsdl:output message="tns:SendMessageExSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KLMessageWebServiceSoap" type="tns:KLMessageWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessageByRecipientsString">
      <soap:operation soapAction="SendMessageByRecipientsString" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="SendMessage" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithMessageID">
      <soap:operation soapAction="SendMessageWithMessageID" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithUserInfo">
      <soap:operation soapAction="SendMessageWithUserInfo" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithUserAndMessageID">
      <soap:operation soapAction="SendMessageWithUserAndMessageID" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageEx">
      <soap:operation soapAction="SendMessageEx" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KLMessageWebServiceSoap12" type="tns:KLMessageWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessageByRecipientsString">
      <soap12:operation soapAction="SendMessageByRecipientsString" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="SendMessage" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithMessageID">
      <soap12:operation soapAction="SendMessageWithMessageID" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithUserInfo">
      <soap12:operation soapAction="SendMessageWithUserInfo" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithUserAndMessageID">
      <soap12:operation soapAction="SendMessageWithUserAndMessageID" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageEx">
      <soap12:operation soapAction="SendMessageEx" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://KLMessage.org/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KLMessageWebService">
    <wsdl:port name="KLMessageWebServiceSoap" binding="tns:KLMessageWebServiceSoap">
      <soap:address location="http://localhost:47773/KLMessageWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="KLMessageWebServiceSoap12" binding="tns:KLMessageWebServiceSoap12">
      <soap12:address location="http://localhost:47773/KLMessageWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>